.Northern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f3d3f3;
}

.Southern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #25283d;
}